body{
  font-family: georgia;
}
.title{
  width: 100%;
  text-align: center;
  font-size: 36;
  margin-bottom: 25px;
}
.game{
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#rides{
  width: 49%;
  display: inline-block;
}
#stores{
  width: 49%;
  display: inline-block;
}